html, body {
  margin: 0;
  padding: 0;
}
.alpha
{
  padding-top: 100px;
  background-position: center;
  font-family: courier, monospace;
  size: 20pt;
  background-color: #21575e;;
  text-align: center;
  height: 100px;
  width: 1000px;
}
.ace,.attorney
{
  color:#f05253;
  background-position: center;
  text-align: center;
  background-color: #21575e;
  font-size: 75pt;
  height: 120px;
  width: 1000px;
  font-family: Arial, Helvetica, sans-serif;
}
.attorney:hover
{
  color:#f7022a;

}
.phoenixwright:hover
{
  color: #FFC0CB;
}

.phoenixwright
{
 font-size: 50pt;
 foamily: "Times New Roman", Times, serif;
 background-color: #21575e;
 color: #f4d8cd;
  
}
.capcom,.comingsoon
{
  font-size: 30pt;
  background-position: center;
  text-align: center;
  background-color: #21575e;
  width: 800px;
  height: 300px;
  width: 1000px;
  color: #edb183;
}
.comingsoon
{
  font-size: 20pt;
  background-color: #21575e;
  font-family: Arial, Helvetica, sans-serif;
  padding: none;
  padding-color: none;

  
}
.button {
  background-color:#21575e; /* Green */
  border: none;
  color: white;
  padding: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}
.padding
{
  color:#21575e;
  font-size: 15pt;
  padding-top: 1px;
}

canvas {
  display: block;
}
